
.form-search{
    margin-left: 237px;
    width:auto;
    height: 580px;

    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label-search{
    font-family: SFregular;  
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #F7FAFC;
    margin-bottom: 46px;
}

.search-container{
    width: 726px;
    display:flex;
    justify-content: center;
}

.input-search{
    background: #F5F5F5;
    border: 1px solid #FFFFFF;    
    border-radius: 40px;
    border:0px;
    width: 726px;
    height: 65px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
     
}

.input-search::placeholder{
    color:#979797;
    font-size: 20px;
    font-family: 'SFregular';

};

.input-search[type=text]{
    color:#2C2C2C;
}

.btn-search{
    border: 1px solid #2D3982;   
    color:white;
    font-size: 20px;
    font-family: 'SFregular';
    background: #2D3982;
    border-radius: 34px;
    margin-left:-170px;  
    height: 70px;
    width: 180px;
    cursor:pointer;
}

/****************************************************/

.list-container-global{
    margin-left: 237px;
    width:auto;
    display:flex;
    justify-content: center;
    background-color: #F5F5F9;
}

.div-container-listHome{
    display: flex;
    justify-content: space-between;
    width: 1020px;
}


.containerListItems{
    
    width: 459px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-titleHome{
    margin-top: 73px;
    font-family: 'SFregular';
    font-size: 20px;
    font-style: normal;
    font-weight: 700px;
    letter-spacing: 0em;
    color:#000000;
    text-align: center;
    margin-bottom: 11px;
}


.style_lds-ellipsis__B7Q25{
    position:absolute;
    background-color:rgba(0,0,0,0.67);
     width: 2000px;
    height:50%;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2000px rgba(0,0,0,0.67);
    left: 39.4%;
    right: 31.4%;
    top: 25.62%;
    bottom: 45.84%;
    position: fixed;
    }


