.cardList-Home {
  width: 459px;
  height: 93px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 6px;
  padding-top: 19px;
  padding-left: 45px;
}

.seguras-header {
  display: flex;
  justify-content: space-between;
}

.container-totalTimeView {
  display: flex;
  align-items: center;
  width: 1000px;
  padding: 0px;
  height: 24px;
}

.list-containerHome {
  background-color: white;
  padding: 2rem;
  border-radius: 0 0 30px 30px;
  height: 20rem;
  overflow: scroll;
}

.header-table-staff2 {
  border-bottom: 1px solid lightgrey;
  text-align: left;
  display: grid;
  grid-template-columns: 400px 200px 200px 50px 200px;
}

.viewIcon {
  height: 24px;
  width: 25px;
}

.notificationIcon {
  height: 24px;
  width: 25px;
}

.totalTimeView {
  font-family: 'SFregular';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #2d3982;
  margin-left: 6px;
}

.container-totalQueries {
  display: flex;
  align-items: center;
  width: 1000px;
  padding: 0px;
  height: 24px;
}

.numberQueries {
  font-family: 'SFregular';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #2d3982;
  margin-left: 6px;
}

.elemUrl {
  font-family: 'SFregular';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  width: 400px;
}
