.cardList-Home {
  width: 459px;
  height: 93px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 6px;
  padding-top: 19px;
  padding-left: 45px;
}

/* .seguras-header {
  display: flex;
  justify-content: space-between;
} */

.container-totalTimeView {
  display: flex;
  align-items: center;
  width: 1000px;
  padding: 0px;
  height: 24px;
}

.viewIcon {
  height: 24px;
  width: 25px;
}

.notificationIcon {
  height: 24px;
  width: 25px;
}

.totalTimeView {
  font-family: 'SFregular';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #2d3982;
  margin-left: 6px;
}

.container-totalQueries {
  display: flex;
  align-items: center;
  width: 1000px;
  padding: 0px;
  height: 24px;
}

.numberQueries {
  font-family: 'SFregular';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #2d3982;
  margin-left: 6px;
}

.elemUrl {
  font-family: 'SFregular';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  width: 400px;
}
