.title-reporting2{
    margin-top:30px;
    margin-left: 33px;
    margin-bottom: -90px;
    padding-bottom: 0px;

}

.reporting-container2{
    height: 150vh;
}

.menu-settings2{
    height: 230px;
}