.container-staff-add-global{
    margin-left: 237px;
    width:auto;
    background-color: #F5F5F9;

}
.container-title-section{
    display:flex;
    align-items: center;
}

.backIcon{
    height: 32px;
    width: 32px;
    margin-left:9px;
    margin-right: 9px;
}

.title-section-staff-add{
    font-family: SFregular;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color:#0A376E;
}

.container-addUsers-table{
    display: flex;   
    align-items: center;
    justify-content: center; 
    width: 1180px;
    margin-left: 30px;
    padding-bottom: 432px;
    justify-content: space-between;
}

.container-addUsers-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 600px;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.container-table{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 573px;
    margin-top: 15px;
}


