.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: visible;
    padding: 0.625rem 1.25rem;
}

.inputfile + label svg {
    width: 2em;
    height: 2em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
    font-size:20px; 
	font-weight:normal;
	font-family: 'Lato';
}

.inputfileCSV + label {
    color: #c39f77;
    border-radius: 50px;
    border-style: solid;
}

.inputfileCSV:focus + label,
.inputfileCSV.has-focus + label,
.inputfileCSV + label:hover {
    color: #9f8465;
}

.inputfileCSV + label figure {
    width: 100px;
    height: 135px;
    background-color: #c39f77;
    display: block;
    position: relative;
    padding: 30px;
    margin: 0 auto 10px;
}

.inputfileCSV:focus + label figure,
.inputfileCSV.has-focus + label figure,
.inputfileCSV + label:hover figure {
    background-color: #9f8465;
}

.inputfileCSV + label figure::before,
.inputfileCSV + label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.inputfileCSV + label figure::before {
    border-top: 20px solid #282828;
    border-left: 20px solid transparent;
}

.inputfileCSV + label figure::after {
    border-bottom: 20px solid #9f8465;
    border-right: 20px solid transparent;
}

.inputfileCSV:focus + label figure::after,
.inputfileCSV.has-focus + label figure::after,
.inputfileCSV + label:hover figure::after {
    border-bottom-color: #c39f77;
}

.inputfileCSV + label svg {
    width: 35px;
    height: 35px;
    fill: rgb(0, 251, 176);
}
